
<hr style="color: #787878">
<br/>
<div class="text-lg flex flex-row flex-wrap items-center" style="color: #787878">
    <div class="mr-4 flex-auto">
    <a class="hover:underline hover:underline-primary-300 hover:text-primary-400"
        href="https://links.baalajimaestro.me" target="_blank" rel="noopener noreferrer">Socials/Portfolio</a>
    </div>
    <div class="ml-3 mr-4 flex-auto">
    <a class="hover:underline hover:underline-primary-300 hover:text-primary-400"
        href="https://paypal.me/baalajimaestro" target="_blank" rel="noopener noreferrer">Donate Me</a>
    </div>
    <div class="ml-3 flex-auto">
    <a class="hover:underline hover:underline-primary-300 hover:text-primary-400"
        href="https://baalajimaestro.me/posts/index.xml" target="_blank" rel="noopener noreferrer">RSS</a>
    </div>
    <br/>
</div>
<br/>
<div class="text-sm" style="color: #787878">
    <a class="hover:underline hover:underline-primary-300 hover:text-primary-400"
    href="https://github.com/baalajimaestro/personal-website" target="_blank" rel="noopener noreferrer">This site is licensed under AGPL, source on Github</a>
</div>
<br/>